* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(172, 133, 101);
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.5rem;
    width: 50%;
    overflow: hidden;
    text-align: center;
}
.cont-titulo {
    background-color: rgb(105, 105, 105);
}
.cont-titulo .titulo {
    color: #fff;
    font-size: 1.9rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: black 0.3rem 0.1rem;
    text-transform: capitalize;
    text-decoration: underline;
    padding: 1rem;
}
.imagen {
    width: 100%;
}
/* @media (min-width: 600px) {
    .cont-titulo .titulo {
        font-size: 2rem;
    }
}
@media (min-width: 1360px) {
    .cont-titulo .titulo {
        font-size: 4rem;
    }
} */